  /*GLOBAL*/

body {
  background-color: lightblue;
}

  /*HEADER*/

header {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: rgba(28, 26, 45, .35);
  color: rgb(255, 255, 245);
}
#my-name {
  position: absolute;
  top: 8px;
  left: 5%;
  font-size: 2rem;
}
#nav {
  list-style-type: none;
  position: absolute;
  top: 12px;
  right: 3%;
}

.nav-item {
  display: inline;
  font-size: 1.6rem;
  padding: 1rem 1rem 1.4rem 1rem;
}

.nav-item a {
  text-decoration: none;
}

  /*MAIN CONTENT*/
section {
  height: 640px;
  width: 100%;
}
.lead {

}
.web {
  background-color: rgba(57, 45, 45, 0.45);
}
.audio {
  background-color: rgb(39, 196, 36);
}
.connect {

  }
